@tailwind base;

@tailwind components;

/* add extracted components here */
a {
  @apply text-blue-500;
}

  a:hover {
    @apply text-blue-600;
  }

nav a, nav button {
  @apply text-gray-700 mx-3 text-sm;
}

  nav a:hover, nav button:hover {
    @apply text-gray-900;
  }

blockquote {
  @apply border-r-8 border-gray-500 px-3 py-2 bg-gray-100 mb-3;
}

canvas {
  cursor: none;
}

code {
  direction: ltr;
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  @apply text-sm bg-gray-200 px-1 inline-block;
}

.hljs {
  @apply mb-4;
}

figure {
  @apply my-5;
}

figcaption {
  @apply text-sm text-center text-gray-500 my-2;
}

h1 {
  @apply text-3xl font-black mb-2;
}

h2 {
  @apply text-2xl font-black mb-2 mt-16;
}

h3 {
  @apply text-lg font-black mt-3;
}

input[type=text], input[type=number], input[type=password], textarea, .wysiwyg {
  @apply outline-none bg-gray-200 border-gray-200 p-2 block w-full border-4;
}

  input[type=text]:focus, input[type=password]:focus, textarea:focus, .wysiwyg:focus {
    @apply border-blue-300;
  }

input[type=submit] {
  @apply w-full block bg-gray-600 p-3 text-white cursor-pointer;
}

  input[type=submit]:hover {
    @apply bg-gray-700;
  }

label {
  @apply text-gray-500;
}

p {
  @apply mb-5;
}

  p:last-child {
    @apply mb-0;
  }

table {
  @apply w-full border-2 border-gray-600 my-5 border-collapse;
}

th {
  @apply bg-gray-600 text-white px-2 py-1;
}

td {
  @apply px-2 py-1;
}

tr:nth-child(2n+1) {
  @apply bg-gray-200;
}

time {
  @apply text-gray-500 ml-5;
}

ul {
  @apply list-disc list-inside mb-3;
}

ol {
  @apply list-decimal list-inside mb-3;
}

summary {
  @apply outline-none;
}

.btn {
  @apply text-gray-800 border-gray-800 border-2 text-center p-3 w-full rounded text-sm;
}

  .btn:hover {
    @apply bg-gray-800 text-white;
  }

.btn-comment {
  @apply my-10 block text-blue-500 border-blue-500;
}

  .btn-comment:hover {
    @apply bg-blue-500;
  }

.cv-list-item {
  @apply mb-2;
}

.cv-list-item-title {
  @apply my-0 inline-block ml-2;
}

.cv-list-item-subtitle {
  @apply ml-2;
}

.cv-list-item-subtitle::before {
  content: "(";
}

.cv-list-item-subtitle::after {
  content: ")";
}

.cv-list-item-time {
  @apply text-gray-500 text-sm ml-2;
}

.cv-list-item-time::before {
  content: "[";
}

.cv-list-item-time::after {
  content: "]";
}

.cv-item {
  @apply bg-gray-300 px-2 py-1 rounded inline-block mb-1 text-sm;
}

.details-content {
  @apply px-3 rounded border-r-8 border-gray-300;
}

.field {
  @apply mb-5;
}

.field-validation-error {
  @apply text-red-500 my-1 block font-bold;
}

.note {
  @apply border-r-8 border-yellow-500 px-3 py-2 bg-yellow-200 mb-3;
}

  .note:before {
    content: "توجه. ";
    @apply font-bold;
  }

.wysiwyg {
  @apply h-64 overflow-auto;
}

.fade-enter-active {
  transition: opacity .2s ease-out .5s;
}
.fade-enter, .fade-leave-to, .fade-leave-active /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

[v-cloak] {
  @apply hidden;
}

@tailwind utilities;

body {
  font-family: 'Fredoka One', cursive;
  letter-spacing: -0.5px;
}
